<div *ngIf="lan===1 ">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row">
    <div id="special-card" class="container-fluid">
    <div class="row" id="imagemy">
      <div class="col-sm-2 ms-5 mt-2"><img src="https://docs.kariyer.net/candidate/000/025/355/avatar/2535543920220208063354955.jpg?filesec=XdsV1VzBKiPzRwcAz5MUUofIEx5lR3q%2Bz4MsELxl%2F5PW59uW1YLgVHypkZkbhwQYCAlYl%2BRrzoMqCBkhI4EwJhcTGL%2FWxKYu!e!" class="rounded" alt="..."></div>
      <div class="col-sm-8">
        <div class="row" class="namesurname"><p>Gülüzar İlayda Abacı</p></div>
        <div class="row" class="exp">
        <p>
          1998 yılında Amasya'da doğdum. 24 yaşındayım. Manisa Celal Bayar Üniversitesi Mekatronik Mühendisliği bölümünden bu yıl mezun oldum.
          Yazılıma ev arkadaşım sayesinde merak saldım. Web öğrenmeye başladım ve kendimi front-end alanında geliştiriyorum. Kendimi geliştirmeye çalışıyorum.
        </p>
        </div>
      </div>
      
    </div>
  
  </div>
  </div>
  
</div>
<div *ngIf="lan==2">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://4.bp.blogspot.com/-lApIxyUP0GE/Uy1e-n9sSPI/AAAAAAAAIso/5ZAiyG4CMu8/s1600/galPlane_spitzer_f25.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row">
    <div id="special-card" class="container-fluid">
    <div class="row" id="imagemy">
      <div class="col-sm-2 ms-5 mt-2"><img src="https://docs.kariyer.net/candidate/000/025/355/avatar/2535543920220208063354955.jpg?filesec=XdsV1VzBKiPzRwcAz5MUUofIEx5lR3q%2Bz4MsELxl%2F5PW59uW1YLgVHypkZkbhwQYCAlYl%2BRrzoMqCBkhI4EwJhcTGL%2FWxKYu!e!" class="rounded" alt="..."></div>
      <div class="col-sm-8">
        <div class="row" class="namesurname"><p>Gülüzar İlayda Abacı</p></div>
        <div class="row" class="exp">
          <p>I was born in 1998 in Amasya. I'm 24 years old. I graduated from Manisa Celal Bayar University, Department of Mechatronics Engineering this year.
          I got curious about the software thanks to my housemate. I started learning the web. I am trying to improve myself.
        </p></div>
      </div>
      
    </div>
  
  </div>
  </div>
  
</div>

